@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap&subset=japanese');

.main {
	width: 100%;
	//border: 1px solid #000;
	//font-size: 200%;
	color: white;
	text-align: center;
	font-family: 'Noto Sans JP', sans-serif;
}
.main div	{
	width: 450;
	//border: 1px solid #FF0000;
	margin: 0 auto;
	text-align: left;
}
.main img {
	width: 100%;
	width: 395;
	text-align: center;
	border-radius: 33px;
}

.imgtop {
	width: 100%;
	float: center;
	text-align: center;
}

.imgtop img {
	width: 100%;
	width: 400;
	//float: right;
	//margin: 0 auto;
	text-align: left;
	//border-radius: 33px;
}

.title {
	width: 100%;
	font-size: 300%;
	//border: 1px solid #000;
	color: white;
	text-align: center;
	font-family: 'Noto Sans JP', sans-serif;
}

.title div	{
	width: 450;
	//border: 1px solid #FF0000;
	margin: 0 auto;
	color: white;
	text-align: left;
}

.titleBer {
	width: 100%;
	//border: 1px solid #000;
	text-align: center;
}

.titleBer div	{
	width: 500;
	//border: 1px solid #FF0000;
	margin: 0 auto;
	text-align: center;
}

.chgEng {
	width: 100%;
	//border: 1px solid #000;
	text-align: center;
}
.chgEng div	{
	width: 450;
	//border: 1px solid #FF0000;
	margin: 0 auto;
	text-align: right;
}
