.main {
	width: 100%;
	//border: 1px solid #000;
	text-align: center;
}
.main div	{
	width: 450;
	//border: 1px solid #FF0000;
	margin: 0 auto;
	text-align: left;
}

.chgEng {
	width: 100%;
	//border: 1px solid #000;
	text-align: center;
}
.chgEng div	{
	width: 450;
	//border: 1px solid #FF0000;
	margin: 0 auto;
	text-align: right;
}