.main {
	width: 100%;
	//border: 1px solid #000;
	font-size: 120%;
	text-align: center;
}
.main div	{
	width: 430;
	//border: 1px solid #FF0000;
	margin: 0 auto;
	text-align: left;
}

.title {
	width: 100%;
	font-size: 200%;
	//border: 1px solid #000;
	text-align: center;
}

.title div	{
	width: 350;
	//border: 1px solid #FF0000;
	margin: 0 auto;
	text-align: left;
}

.titleBer {
	width: 100%;
	font-size: 160%;
	//border: 1px solid #000;
	text-align: center;
}

.titleBer div	{
	width: 350;
	//border: 1px solid #FF0000;
	margin: 0 auto;
	text-align: center;
}

.chgEng {
	width: 100%;
	//border: 1px solid #000;
	font-size: 170%;
	text-align: center;
}
.chgEng div	{
	width: 400;
	//border: 1px solid #FF0000;
	margin: 0 auto;
	text-align: right;
}